Repository denizmgun/autora-theorist-tutors, pull requests merged in 2024-07, with the labels that each got.

#4 refactor: Refactored misspelled authora to autora
  mkdocs.yml
  src/autora/theorist/autora_theorist_tutors/__init__.py
  tests/test_autora_theorist_tutors.py
Labels: invalid

#10 {test}: symbolic regressor unit tests
  src/autora/theorist/autora_theorist_tutors/regressor.py
  tests/test_autora_theorist_tutors.py
Labels: tests

#18 fix: get_depth function and add more tests
  src/autora/theorist/autora_theorist_tutors/regressor.py
  tests/test_autora_theorist_tutors.py
Labels: bug, tests
